.convertor {
    width: 100%;
    margin: 0 auto;
    text-align: center; 
    margin-top: 80px;
  }

  .convertor h1 {
    text-align: left;
  }
  
  .textAreaBox {
    display: flex;
    width: 100%;
  }
  
  .textInputBox {
    margin-right: 10px;
  }
  
  .textInputBox, .textOutputBox {
    flex: 1;
    padding: 10px;
    height: 45vh;
  }
  
  .runTips {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
  }

  .runTipsText {
    color: #FF6969;
  }

  .btnGroupTop {
    display: flex;
    flex-direction: column;
  }
  
  .btnGroupInnerOne {
    margin-bottom: 10px;  
  }
  
  .btnCopy {
    width: 100%;
    height: 36px;
  }
  
  .btnGroupInnderTwo {
    display: flex;
    justify-content: space-between;
  }
  
  .btnGroupInnderTwo button {
    flex: 1; 
    margin: 0 5px;
  }

  .optionGroup {
    display: flex;
    flex-direction: column;
  }

  .singleOption {
    display: flex;
    flex-direction: row;
  }

  .singleOption label:hover::after {
    content: attr(title);
    position: absolute;
    background: #141E46;
    color: #FFF5E0;
    opacity: 0.85;
    padding: 4px 8px;
    border-radius: 4px;
  }

  .invalidInput, .emptyInput {
    border: 1px solid #FF6969;
  }
